<!DOCTYPE html>
<html>
	<head>

		<!-- # method full_title located in the application_helper.rb -->
		<title><%= full_title(yield(:title)) %></title>

		<!-- # Other Stuff -->
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>

	</head>

	<body>

		<div class="container">
			<%= yield %>
			<br></br>
			<br></br>
			<br></br>
			<br></br>
		</div>

	</body>

</html>
